%nav#bt-menu.bt-menu
  %a.bt-menu-trigger{href: "#"}
    %span
      Menu
  %ul
    %li
      %a.bt-icon.icon-user-outline{href: "#"}
        About
    %li
      %a.bt-icon.icon-sun{href: "#"}
        Skills
    %li
      %a.bt-icon.icon-windows{href: "#"}
        Work
    %li
      %a.bt-icon.icon-speaker{href: "#"}
        Blog
    %li
      %a.bt-icon.icon-star{href: "#"}
        Clients
    %li
      %a.bt-icon.icon-bubble{href: "#"}
        Contact

%nav.menu.menu--titania
  %ul.menu__list
    %li.menu__item.menu__item--current
      %a.menu__link{href: "#"}
        Home
    %li.menu__item
      %a.menu__link{href: "#"}
        Portfolio
    %li.menu__item
      %a.menu__link{href: "#"}
        Blog
    %li.menu__item
      %a.menu__link{href: "#"}
        Shop
    %li.menu__item
      %a.menu__link{href: "#"}
        Contact
    %li.menu__lines
